{% extends 'templates/app.twig' %}

{% block content %}
{% include 'templates/partials/side-nav.twig' %}

<section class="feeds">
<div class="container">
	<div class="row">

		<!-- My matches-->
		<div class="col-lg-6 offset-lg-3">
			<div class="articles card">
				<div class="card-header d-flex align-items-center">
					<h2 class="h3">People responded to your like</h2>
					<!-- <div class="badge badge-rounded bg-green">4 New</div> -->
				</div>
				<div class="card-body no-padding">
					{% if array is defined %}
					{% for user in array %}
					<div class="item d-flex align-items-center">
						<div class="image" style="background-image: url('{{ user.photo[0] }}')"></div>
						<div class="text">
							<a href="#">
								<h3 class="h5">{{ user.basic_info.username }}</h3>
							</a>
							<div class="CTAs">
								<a href="#" class="btn btn-xs btn-secondary">Open Chat</a>
								<a href="#" class="btn btn-xs btn-secondary">Unmatch</a>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endif %}
				</div>
			</div>
		</div><!-- end My Matches-->
		
	</div>
</div>
</section>

<script src="{{ base_url() }}/js/my-matches.js"></script>
<script>
	var info = {{ array | json_encode | raw}};
	console.log(info);
</script>
{% include 'templates/partials/footer.twig' %}
{% endblock %}
